<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.LANG %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.TITLE %></title>
</head>
<body>
  <div id="root"></div>
  <% if (htmlWebpackPlugin.options.DLL) { %>
    <script src="/<%= htmlWebpackPlugin.options.DLL %>.js"></script>
  <% } %>
</body>
</html>
